.aw-spinner {
  display: block;
  font-size: 0;
  color: #fff;
  width: 32px;
  height: 32px;
}

.aw-spinner__internal {
  position: relative;
  box-sizing: border-box;
  color: #4fa4a1;
  display: inline-block;
  float: none;
  border: 2px solid currentColor;
  width: 32px;
  height: 32px;
  background: transparent;
  border-bottom-color: transparent;
  border-radius: 100%;
  animation: aw-spinner--rotation 0.75s linear infinite;
}

.aw-spinner--dark {
  color: #333;
}

.aw-spinner--small {
  .aw-spinner__internal {
    width: 16px;
    height: 16px;
    border-width: 1px;
  }
  width: 16px;
  height: 16px;
}

.aw-spinner--medium {
  width: 64px;
  height: 64px;
  .aw-spinner__internal {
    width: 64px;
    height: 64px;
    border-width: 4px;
  }
}

.aw-spinner--large {
  width: 96px;
  height: 96px;
  .aw-spinner__internal {
    width: 96px;
    height: 96px;
    border-width: 6px;
  }
}

@keyframes aw-spinner--rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.aw-spinner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.9);
  border-radius: inherit;
  > .aw-spinner {
    top: 50%;
    left: 50%;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  > .aw-spinner__loading-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
  }

  &.aw-spinner__overlay--no-background {
    background: transparent;
  }

  &.aw-spinner__overlay--fullscreen {
    position: fixed;
  }
}
