@import 'variables';

.tooltip {
  &.show {
    opacity: 1;
  }
  > .tooltip-inner {
    box-shadow: 0 1px 22px 0 rgba(136, 136, 136, 0.5);
    background-color: #ffffff;
    color: $greyish-brown;
  }
}
